@charset "UTF-8";
/** Color scheme **/
/** Elevation **/
/**
 * Breakpoints
 */
/**
 * Border-radius
 */
/**
 * Font-size
 */
/**
 * Font-weight
 */
/**
 * Letter-spacing
 */
/**
 * Line-height
 */
/**
 * Transitions
 */
/**
 * Breakpoint mixin
 *
 * How to use:
 * @include breakpoint($small, $large) {} min-width and max-width
 * @include breakpoint($small) {} min-width only
 * @include breakpoint(null, $large) {} max-width only
 *
 * @param min-width
 * @param max-width
 */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxO.eot?#iefix") format("embedded-opentype"), url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2"), url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxM.woff") format("woff"), url("https://fonts.gstatic.com/l/font?kit=KFOmCnqEu92Fr1Mu4mxN&skey=a0a0114a1dcab3ac&v=v18#Roboto") format("svg"), url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc8.eot?#iefix") format("embedded-opentype"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2") format("woff2"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc-.woff") format("woff"), url("https://fonts.gstatic.com/l/font?kit=KFOlCnqEu92Fr1MmSU5fBBc_&skey=11ce8ad5f54705ca&v=v18#Roboto") format("svg"), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf") format("truetype");
}
.title {
  line-height: 1.2;
}
.title--display {
  font-size: 1.125rem;
}
.title--headline {
  font-size: 2.25rem;
  font-weight: 200;
}
.title--subtitle {
  font-size: 1.125rem;
}
.title--heading {
  font-size: 1.125rem;
  font-weight: 700;
}

html {
  font-size: 16px;
  line-height: 1.7;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, Geneva, Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html.theme--light body {
  background-color: #ffffff;
  color: #666666;
}
html.theme--dark body {
  background-color: #121212;
  color: #a0a0a0;
}

*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

svg {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  vertical-align: middle;
}
a svg, button svg {
  pointer-events: none;
}

a {
  text-decoration: none;
}
html.theme--light a {
  color: #2B63E6;
}
html.theme--dark a {
  color: #90CAF9;
}
a:hover {
  text-decoration: none;
}
html.theme--light a:hover {
  color: #000000;
}
html.theme--dark a:hover {
  color: #94ccf9;
}

.mt-1 {
  margin-top: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  padding: 0 1rem;
}
@media (min-width: 75em) {
  .container {
    width: 75rem;
    padding: 0;
  }
}

html.theme--light .logo--color-bg {
  color: #042B4C;
}
html.theme--dark .logo--color-bg {
  color: #e0e0e0;
}
html.theme--light .logo--color-icon {
  color: #ffffff;
}
html.theme--dark .logo--color-icon {
  color: #232323;
}

.toggle-button {
  display: none !important;
}

.toggle-button-label:after {
  float: right;
  width: 30px;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.1em;
}

.toggle-button:not(:checked) ~ .game-box-content {
  display: none;
}

.toggle-button:checked ~ .game-box-content {
  display: block;
}

.toggle-button:not(:checked) + .toggle-button-label:after {
  content: "+";
}

.toggle-button:checked + .toggle-button-label:after {
  content: "−";
}

input[type=checkbox] {
  display: none;
}

@media only screen and (min-width: 480px) {
  .toggle-button-label:after {
    font-size: 40px;
  }
}
@media only screen and (min-width: 620px) {
  .toggle-button:not(:checked) ~ .game-box-content {
    display: block;
  }

  .toggle-button-label:after {
    display: none;
  }
}
.toggle-button-label::after {
  cursor: pointer;
}

.section {
  padding: 0 0 1rem 0;
}
@media (min-width: 60em) {
  .section {
    padding: 0 0 2.5rem 0;
  }
}
.section__intro {
  text-align: center;
  max-width: 50rem;
  margin-top: 2rem;
}

.footer {
  padding: 1.5rem 0;
}
html.theme--light .footer {
  background-color: #e8e8e8;
}
html.theme--dark .footer {
  background-color: #272727;
}
.footer__logo {
  width: auto;
  max-height: 2rem;
  margin-bottom: 1rem;
  margin-right: auto;
}
.footer__group {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 60em) {
  .footer__group {
    flex-direction: row;
  }
}
.footer__links {
  display: flex;
  list-style: none;
}
@media (max-width: 39.9375em) {
  .footer__links {
    flex-direction: column;
  }
}
@media (min-width: 40em) {
  .footer__links li:not(:first-child) {
    margin-left: 0.75rem;
  }
}
.footer__links a {
  text-decoration: none;
}
.footer__social {
  display: flex;
  align-items: center;
  list-style: none;
}
@media (max-width: 39.9375em) {
  .footer__social {
    margin-top: 1rem;
  }
}
.footer__social li:not(:first-child) {
  margin-left: 0.75rem;
}
@media (max-width: 39.9375em) {
  .footer__social a {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
html.theme--light .footer__social a {
  color: #212121;
}
html.theme--dark .footer__social a {
  color: #e0e0e0;
}
.footer__text {
  font-size: 0.75rem;
}

.btn {
  display: inline-flex;
  padding: 0 3.125rem;
  min-height: 2.5rem;
  border-radius: 0.25rem;
  border: 0.625rem solid transparent;
  text-decoration: none;
  cursor: pointer;
}
html.theme--light .btn {
  background-color: #2B63E6;
  color: white;
}
html.theme--dark .btn {
  background-color: #90CAF9;
  color: black;
}
.btn:hover {
  text-decoration: none;
}
html.theme--light .btn:hover {
  background-color: #3369e7;
  color: white;
}
html.theme--dark .btn:hover {
  background-color: #94ccf9;
  color: black;
}
.btn:focus {
  border-color: #ffffff;
}
html.theme--light .btn:focus {
  background-color: #4476e9;
  color: white;
}
html.theme--dark .btn:focus {
  background-color: #9dd0fa;
  color: black;
}
html.theme--light .btn:active {
  background-color: #3c6fe8;
  color: white;
}
html.theme--dark .btn:active {
  background-color: #99cef9;
  color: black;
}

.header {
  padding: 0.625rem 0;
  border-top: 0.3125rem solid;
  border-bottom: 0.3125rem solid;
}
html.theme--light .header {
  color: #212121;
  background-color: #ededed;
  border-color: #e0e0e0;
}
html.theme--dark .header {
  color: #e0e0e0;
  background-color: #232323;
  border-color: #2e2e2e;
}
.header--top {
  border-top: 0;
}
@media (max-width: 39.9375em) {
  .header--top {
    padding: 3rem 0 1rem 0;
  }
}
@media (min-width: 40em) {
  .header--top {
    padding: 2.5rem 0;
  }
}
.header__logo {
  max-width: 15.625rem;
  margin-bottom: 1rem;
}
@media (max-width: 39.9375em) {
  .header__logo {
    max-height: 2.5rem;
  }
}
.header__display {
  text-align: center;
}
@media (max-width: 39.9375em) {
  .header__display {
    font-size: 1rem;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 100%;
  margin-top: 2.5rem;
}
@media (min-width: 40em) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 75em) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  border-radius: 0.625rem;
  position: relative;
  color: white;
  flex: 1;
  z-index: 1;
  text-decoration: none;
  height: 100%;
  transition: background-color 0.4s ease, transform 0.4s ease, opacity 0.4s ease;
}
html.theme--light .card {
  background-color: #f2f2f2;
}
html.theme--dark .card {
  background-color: #1e1e1e;
}
.card:hover {
  background-color: rgba(57, 65, 80, 0.75);
  opacity: 1;
}
@media (min-width: 40em) {
  .card:hover {
    transform: scale(1.015);
  }
}
@media (min-width: 40em) {
  .card:hover .card__image img {
    transform: scale(1.05);
  }
}
.card:focus-within {
  opacity: 1;
  outline: none;
}
@media (min-width: 40em) {
  .card:focus-within {
    transform: scale(1.015);
  }
}
.card__skip-link {
  position: absolute;
  color: white;
  padding: 0 0.375rem;
  display: flex;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.8125rem;
  z-index: 3;
  border-radius: 0.25rem;
}
html.theme--light .card__skip-link {
  background-color: #ffffff;
}
html.theme--dark .card__skip-link {
  background-color: #121212;
}
.card__title {
  margin-bottom: 0;
  width: 100%;
  height: 3.75rem;
  letter-spacing: 0.03125rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}
@media (min-width: 23.75em) {
  .card__title {
    font-size: 1.125rem;
  }
}
@media (min-width: 40em) {
  .card__title {
    height: 5rem;
  }
}
.card .card__title-link {
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  padding: 1.75rem 1.5rem 0 1.5rem;
}
html.theme--light .card .card__title-link {
  color: #2B63E6;
}
html.theme--dark .card .card__title-link {
  color: #90CAF9;
}
@media (max-width: 23.6875em) {
  .card .card__title-link {
    padding-left: 4.5rem;
  }
}
@media (min-width: 40em) {
  .card .card__title-link {
    padding: 3rem 1.5rem 0 1.5rem;
  }
}
.card .card__title-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}
.card .card__title-link:focus {
  outline: none;
}
.card__label {
  text-transform: uppercase;
  font-size: 0.5625rem;
  padding: 0.125rem 0.25rem;
  position: absolute;
  top: 0;
  left: 0.25rem;
  z-index: 3;
  border-radius: 0.25rem;
}
html.theme--light .card__label {
  background-color: #2B63E6;
  color: white;
}
html.theme--dark .card__label {
  background-color: #90CAF9;
  color: black;
}
@media (max-width: 39.9375em) {
  .card__label {
    transform: rotate(-15deg);
  }
}
@media (min-width: 40em) {
  .card__label {
    top: 1rem;
    left: 1rem;
    font-size: 0.8125rem;
    padding: 0.125rem 0.5rem;
  }
}
.card__button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  height: 3.75rem;
  width: 2.75rem;
  color: white;
  border-radius: 0 0.625rem 0 0;
  z-index: 4;
}
html.theme--light .card__button {
  background-color: #2B63E6;
  background: linear-gradient(90deg, rgba(43, 99, 230, 0.5) 0%, rgba(43, 99, 230, 0.8) 100%);
  color: white;
}
html.theme--dark .card__button {
  background-color: #90CAF9;
  background: linear-gradient(90deg, rgba(144, 202, 249, 0.5) 0%, rgba(144, 202, 249, 0.8) 100%);
  color: black;
}
@media (min-width: 23.75em) {
  .card__button {
    display: none;
  }
}
.card__button:focus {
  outline: none;
}
html.theme--light .card__button:focus {
  color: white;
}
html.theme--dark .card__button:focus {
  color: black;
}
.card__button .icon {
  height: 0.625rem;
  width: auto;
  transform-origin: center;
  transition: transform 0.4s ease;
}
.card__button.is-open .icon {
  transform: rotate(180deg);
}
.card__button.is-open ~ .card__line {
  border-radius: 0;
}
.card__image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  height: 3.75rem;
  border-radius: 0.625rem 0.625rem 0 0;
  overflow: hidden;
}
@media (min-width: 40em) {
  .card__image {
    height: 5rem;
  }
}
.card__image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgb(0, 0, 0);
  background: linear-gradient(225deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 60%);
}
.card__image img {
  transition: transform 0.4s ease;
  width: 100%;
  min-width: 22.5rem;
  min-height: 5rem;
}
.card__game-icon {
  display: flex;
  height: 3.125rem;
  width: 3.125rem;
  position: absolute;
  z-index: 2;
  box-shadow: inset 0 0.0625rem 0.0625rem rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  right: 1.5rem;
  justify-content: center;
  align-items: center;
  transform: translateY(-1.875rem);
}
html.theme--light .card__game-icon {
  background-color: #2B63E6;
}
html.theme--dark .card__game-icon {
  background-color: #90CAF9;
}
@media (max-width: 23.6875em) {
  .card__game-icon {
    right: unset;
    left: 1rem;
    transform: translateY(-2.5rem);
  }
}
@media (min-width: 40em) {
  .card__game-icon {
    height: 3.75rem;
    width: 3.75rem;
    transform: translateY(-2.5rem);
  }
}
.card__game-icon .icon {
  max-height: 1.5rem;
  max-width: 1.5rem;
}
@media (min-width: 40em) {
  .card__game-icon .icon {
    max-height: 1.875rem;
    max-width: 1.875rem;
  }
}
.card__line {
  display: flex;
  position: relative;
  height: 0.25rem;
  width: 100%;
}
html.theme--light .card__line {
  background-color: #2B63E6;
}
html.theme--dark .card__line {
  background-color: #90CAF9;
}
@media (max-width: 23.6875em) {
  .card__line {
    border-radius: 0 0 0.25rem 0.25rem;
  }
}
.card__line::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
}
.card__list {
  margin: 1rem;
  font-size: 0.8125rem;
  position: relative;
  z-index: 5;
}
@media (min-width: 23.75em) {
  .card__list {
    margin: 1.5rem;
  }
}
.card__list.is-hidden {
  border: 2px solid pink;
}
.card__list-item {
  list-style: none;
}
.card__list-link {
  text-decoration: none;
  padding: 0.25rem 0;
  display: inline-flex;
  word-break: break-word;
  position: relative;
  transition: transform 0.2s ease;
}
.card__list-link::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0.0625rem;
  background: transparent;
  transition: background 0.4s ease;
}
.card__list-link:hover {
  transform: translateY(-0.0625rem);
}
.card__list-link:hover::before {
  background: currentColor;
}
.card__list-link:focus:not(:focus-visible) {
  outline: none;
}
.card__list-link:focus:not(:focus-visible)::before {
  background: transparent;
}
.card__list-link:focus-visible {
  outline: 0.0625rem dotted white;
  outline-offset: 0.125rem;
}
.card__list-link:focus-visible::before {
  background: white;
}

.top-nav {
  height: 1.875rem;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 0.75rem;
  font-weight: 700;
}
html.theme--light .top-nav {
  background-color: #ffffff;
}
html.theme--dark .top-nav {
  background-color: #121212;
}
@media (max-width: 39.9375em) {
  .top-nav {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    height: 2.5rem;
    border-radius: 0.375rem;
  }
}
.top-nav__switch {
  background-color: transparent;
  position: relative;
  border: 0;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 700;
  cursor: pointer;
}
html.theme--light .top-nav__switch {
  color: #212121;
}
html.theme--dark .top-nav__switch {
  color: #e0e0e0;
}
@media (max-width: 39.9375em) {
  .top-nav__switch {
    height: 100%;
    padding: 0 0.5rem;
  }
}
.top-nav__switch::before, .top-nav__switch::after {
  content: "";
  display: block;
}
.top-nav__switch::before {
  width: 2rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  margin-right: 0.5rem;
}
html.theme--light .top-nav__switch::before {
  background-color: #2B63E6;
}
html.theme--dark .top-nav__switch::before {
  background-color: #90CAF9;
}
.top-nav__switch::after {
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  left: 0.5rem;
  border-radius: 0.875rem;
  transition: left 0.4s ease;
}
html.theme--light .top-nav__switch::after {
  background-color: white;
}
html.theme--dark .top-nav__switch::after {
  background-color: black;
}
.top-nav__switch-text {
  margin-left: 0.25rem;
}
.theme--light .top-nav__switch .top-nav__switch-light {
  display: block;
}
.theme--light .top-nav__switch .top-nav__switch-dark {
  display: none;
}
.theme--dark .top-nav__switch::after {
  left: 1.375rem;
}
.theme--dark .top-nav__switch .top-nav__switch-light {
  display: none;
}
.theme--dark .top-nav__switch .top-nav__switch-dark {
  display: block;
}
.top-nav__list {
  margin-left: auto;
  display: flex;
  height: 100%;
}
.top-nav__list li {
  list-style: none;
  display: flex;
  align-items: center;
}
@media (max-width: 39.9375em) {
  .top-nav__list li {
    padding: 0;
  }
}
@media (min-width: 40em) {
  .top-nav__list li {
    padding: 0 1.25rem;
  }
}
@media (max-width: 39.9375em) {
  .top-nav__list li:not(:first-child) {
    display: none;
  }
}
.top-nav__list li a {
  font-weight: 700;
  text-decoration: none;
}

.search {
  width: 100%;
}
@media (max-width: 39.9375em) {
  .search {
    margin-top: 1rem;
  }
}
@media (min-width: 40em) {
  .search {
    margin-top: 1.5rem;
  }
}
.search__form {
  border-radius: 0.625rem;
  height: 3rem;
  display: flex;
  align-items: center;
}
html.theme--light .search__form {
  background-color: #ffffff;
}
html.theme--dark .search__form {
  background-color: #121212;
}
@media (max-width: 39.9375em) {
  .search__form {
    flex-direction: column;
    height: auto;
    align-items: stretch;
    padding: 1rem;
  }
}
.search__form ::placeholder {
  opacity: 1;
  /* Firefox */
}
html.theme--light .search__form ::placeholder {
  color: #212121;
}
html.theme--dark .search__form ::placeholder {
  color: #e0e0e0;
}
html.theme--light .search__form :-ms-input-placeholder,
html.theme--light .search__form ::-ms-input-placeholder {
  color: #212121;
}
html.theme--dark .search__form :-ms-input-placeholder,
html.theme--dark .search__form ::-ms-input-placeholder {
  color: #e0e0e0;
}
.search__form-select {
  width: 10rem;
  background-color: transparent;
  border: 0;
  height: 100%;
  padding: 0 1rem;
  font-weight: 700;
  font-family: inherit;
  font-size: 0.8125rem;
}
html.theme--light .search__form-select {
  color: #2B63E6;
}
html.theme--dark .search__form-select {
  color: #90CAF9;
}
@media (max-width: 39.9375em) {
  .search__form-select {
    width: auto;
    height: 2.5rem;
    margin-bottom: 0.25rem;
  }
}
.search__form-select:focus {
  outline: 0;
}
html.theme--light .search__form-select:focus {
  box-shadow: inset 0 -0.125rem 0 0 #2B63E6;
}
html.theme--dark .search__form-select:focus {
  box-shadow: inset 0 -0.125rem 0 0 #90CAF9;
}
html.theme--light .search__form-select option {
  background-color: #ffffff;
}
html.theme--dark .search__form-select option {
  background-color: #121212;
}
.search__form-input {
  flex-grow: 1;
  background-color: transparent;
  border: 0;
  height: 100%;
  padding: 0 1rem;
  font-family: inherit;
  font-size: 0.8125rem;
}
html.theme--light .search__form-input {
  color: #2B63E6;
}
html.theme--dark .search__form-input {
  color: #90CAF9;
}
@media (max-width: 39.9375em) {
  .search__form-input {
    height: 2.5rem;
    margin-bottom: 0.25rem;
  }
}
.search__form-input:focus {
  outline: 0;
}
html.theme--light .search__form-input:focus {
  box-shadow: inset 0 -0.125rem 0 0 #2B63E6;
}
html.theme--dark .search__form-input:focus {
  box-shadow: inset 0 -0.125rem 0 0 #90CAF9;
}
.search__form-button {
  height: 2.5rem;
  border-radius: 0.375rem;
  border: 0;
  margin-right: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
.search__form-button .icon {
  width: 1rem;
  height: 1rem;
  display: block;
  margin-left: 0.75rem;
}

.commons-links {
  display: flex;
  list-style: none;
  align-self: center;
  width: 100%;
  margin-top: 1rem;
  max-width: 50rem;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 40em) {
  .commons-links {
    flex-direction: row;
  }
}
.commons-links li {
  flex: 1 1 auto;
}

.contribution-content {
  columns: 1;
  column-gap: 2.5rem;
  column-rule: 0.0625rem solid currentColor;
  margin-top: 2.5rem;
}
@media (min-width: 40em) {
  .contribution-content {
    columns: 2;
  }
}
@media (min-width: 60em) {
  .contribution-content {
    columns: 3;
  }
}
.contribution-content__title {
  margin-bottom: 1rem;
}
html.theme--light .contribution-content__title {
  color: #212121;
}
html.theme--dark .contribution-content__title {
  color: #e0e0e0;
}
.contribution-content p {
  margin-bottom: 1rem;
}
.contribution-content ul {
  padding-left: 1rem;
}
