@charset "utf-8";
/* CSS Document */

html {
    box-sizing: border-box;
    color: rgb(39, 39, 39);
    font-family:"Open Sans", sans-serif;
    font-size: 100%;
    font-weight: 400;
    overflow-x: hidden;
}

body {
    margin:0;
}

/* general, and reset styles */
*, *::before, *::after {
    box-sizing: inherit;
}

a, article, aside, body, blockquote, button, code, div, dl, dt, dd, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, input, label, main, nav, ol, optgroup, option, section, select, span, strong, table, tbody, td, textarea, thead, tr, ul {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
}

a, dt, dd, em, figcaption, p, span, strong, td, label {
    line-height: 1.5625;
}

header, section {
    margin: 0 auto;
    margin-bottom: 10em;
    max-width: 83.5em;
    padding: 0 1.875rem;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 51.125em) {
    header, section {
        margin-bottom: 5em;
        padding: 0 0.625rem;
    }
}

@media screen and (min-width: 96em) {
    header, section {
        max-width: 94em;
    }
}

.screen-reader-text {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.svg-container {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

p {
    margin-bottom: 2.5em;
    margin-top: 0;
}


/* heading styles */
.frontpage {
    position: relative;
}

.frontpage::after  {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg.svg) no-repeat;
    background-position: center top;
    z-index: -1;
}

@media screen and (min-width: 100.375em) {
   .frontpage::after {
        opacity: 0.6;
    }
}

[role=region] > h1 {
    font-size: 3em;
    margin-bottom: 2.5rem;
}

@media screen and (max-width: 30em) {
    [role=region] > h1 {
        font-size: 2em;
    }
}

h1, h2 {
    margin-top: 0;
}

h2 {
    font-size: 1.5rem;
}

.about {
    font-size: 1.125em;
    margin-left: auto;
    margin-right: auto;
    max-width: 44em;
    text-align: left;
    width: 100%
}

@media screen and (max-width: 30em) {
    .about {
        font-size: 1em;
    }
}


/* link styles */
a, .footer-link {
    color: rgb(56, 99, 186);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

a:visited {
    color: rgb(108, 82, 204);
}

.button {
    display: inline-block;
}

.button:hover, .button:focus {
    text-decoration: none;
}

.button--action {
    background: rgb(56, 99, 186);
    color: rgb(255, 255, 255);
    padding: 1em 3em;
}

.button--action:visited {
    color: rgb(255, 255, 255);
}


.button--action:hover, .button--action:focus {
    background: rgb(49, 81, 156);
}


/* list styles */
ul {
    margin: 0;
    padding-left: 1em;
}

li {
    line-height: 1.5;
    margin-bottom: 0.375em;
}

.list-inline {
    padding: 0;
}

@media screen and (max-width: 51.125em) {
    .list-inline {
        text-align: left;
    }
}

.list-inline li {
    display: inline-block;
    margin: 0 1em 0 1em;
}

@media screen and (max-width: 51.125em) {
    .list-inline li {
        display: block;
        margin-left: 0;
        line-height: 2.5;
    }
}

.card-content, .display-list  {
    list-style-type: none;
    padding: 0;
}

.card-content li, .display-list li {
    margin-bottom: 0em;
}

@media screen and (max-width: 51.125em) {
    .card-content li {
        line-height: 2;
    }
}


/* banner styles */
.banner {
    padding: 0;
    text-align: center;
}

.wiki-logo {
    margin: 12.5em auto 4em auto;
    max-width: 43.75em;
    width: 100%;
}

@media screen and (max-width: 51.25em) {
    .wiki-logo {
        margin: 4em auto 2em auto;
        max-width: 90%;
    }
}


/* wiki card styles */
.card-container {
    text-align: left;
}

@media screen and (max-width: 96em) {
    .card-container {
        margin-left: 7vw;
    }
}

@media screen and (max-width: 83em) {
    .card-container {
        margin-left: 6vw;
    }
}

@media screen and (max-width: 78em) {
    .card-container {
        margin-left: 2vw;
    }
}

@media screen and (max-width: 74.375em) {
    .card-container {
        margin-left: 16vw;
    }
}

@media screen and (max-width: 68em) {
    .card-container {
        margin-left: 12vw;
    }
}

@media screen and (max-width: 65em) {
    .card-container {
        margin-left: 10vw;
    }
}

@media screen and (max-width: 58em) {
    .card-container {
        margin-left: 6vw;
    }
}

@media screen and (max-width: 56em) {
    .card-container {
        margin-left: 3vw;
    }
}

@media screen and (max-width: 51.125em) {
    .card-container {
        margin-left: 0vw;
    }
}

@media screen and (max-width: 30em) {
    .card-container {
        margin-left: 0vw;
    }
}


/* future-facing grid breakpoints 1606 1212 818*/
.wiki-card {
    background: rgb(255, 255, 255);
    border: 0.0625em solid rgb(211, 211, 211);
    display: inline-block;
    margin: 0.8rem 0.625rem;
    max-width: 21em;
    padding: 1.875em;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 100%;
}

/* 818 breakpoint*/
@media screen and (max-width: 51.125em) {
    .wiki-card {
        max-width: 100%;
        margin: 0.3125em 0;
        padding: 1.25em;
    }
}

/* 480 breakpoint*/
@media screen and (max-width: 30em) {
    .wiki-card {
        padding: 0.875em 1.25em;
    }
}

.wiki-card h1 {
    font-size: 1.5em;
    text-align: center;
    margin-left: -0.1875rem;
}

@media screen and (max-width: 51.125em) {
    .wiki-card h1 {
        text-align: left;
        margin-left: 0;
    }
}

@media screen and (max-width: 30em) {
    .wiki-card h1 {
        font-size: 1.25em;
    }
}

.wiki-card a {
    color: rgb(72, 72, 72);
}

.card-controls {
    background: rgba(255, 255, 255, 0.5);
    font-size: 1.875em;
    font-weight: 700;
    position: absolute;
    top: 1.875rem;
    right: 1.875rem;
    z-index: 1;
}

.card-controls button.is-removed {
    display: none;
}

@media screen and (max-width: 51.125em) {
    .card-controls {
        top: 1.25rem;
        right: 1.25rem;
    }
}

@media screen and (max-width: 30em) {
    .card-controls {
        top: 0.875rem;
    }
}

.card-controls button {
    background: none;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;
    cursor: pointer;
}

.card-controls [aria-expanded=true] {
    position: relative;
    top: -0.125rem;
}

.card-header {
    white-space: nowrap;
    margin: 0;
    height: 2.5rem;
}

@media screen and (max-width: 30em) {
    .card-header span {
        position: relative;
        top: 4px;
    }

    .card-header .card-icon {
        top: 8px;
    }
}

.card-icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.25em;
}

.game-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.wiki-card--bw .game-icon {
    width: 3.125rem;
}

@media screen and (max-width: 30em) {
    .game-icon {
        height: 1.25em;
        width: 1.25em;
    }
}

/* per-wiki color changes*/
.alpha-wiki {
    position: absolute;
    left: 2.6rem;
    height: 0.875rem;
    width: 1.125rem;
}

@media screen and (max-width: 30em) {
    .alpha-wiki {
        height: 0.4375rem;
        width: 0.5625rem;
        left: 1.7rem;
    }
}

.wiki-card--alpha .card-icon, .wiki-card--alpha .card-icon {
    margin-right: 1.125rem;
}

@media screen and (max-width: 30em) {
    .wiki-card--alpha .card-header span, .wiki-card--alpha .card-header span {
        margin-right: 0.5rem;
    }
}

.wiki-card--fighters .alpha-wiki {
    color: rgb(177, 42, 42);
}

.wiki-card--quake .alpha-wiki {
    color: rgb(122, 90, 29);
}

.wiki-card--rainbowsix .alpha-wiki {
    color: rgb(25, 107, 107);
}

.wiki-card--leagueoflegends .alpha-wiki {
    color: rgb(25, 107, 107);
}

.wiki-card--teamfortress .alpha-wiki {
    color: rgb(149, 86, 35);
}

.wiki-card--warcraft .alpha-wiki {
    color: rgb(84, 113, 27);
}

.wiki-card--worldofwarcraft .alpha-wiki {
    color: rgb(49, 81, 156);
}

.card-content {
    width: 100%;
    margin: 1.875em 0;
}

@media screen and (max-width: 51.125em) {
    .card-content {
        margin: 0.9375em 0 1.875em 0;
    }

    .card-content[aria-hidden=true] {
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        clip: rect(0, 0, 0, 0);
    }

    .card-content[aria-hidden=false] {
        position: initial;
        clip: auto;
    }
}

.card-content li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* column styles */
p ~ .card-container, .button ~ .card-container {
    margin-top: 5.25em;
}

.text-container {
    text-align: left;
    font-size: 1.125em;
    margin-left: auto;
    margin-right: auto;
    max-width: 44em;
    text-align: left;
    width: 100%;
}

@media screen and (max-width: 30em) {
    .text-container {
        font-size: 1em;
    }
}

/* footer styles */
footer {
    color: rgb(97, 97, 97);
    background: rgb(249, 249, 249);
    border-top: 0.0625rem solid rgb(211, 211, 211);
    font-size: 0.875em;
    padding-bottom: 4rem;
    text-align: left;
    padding-top: 3rem;
}

footer a, footer a:visited {
    color: rgb(97, 97, 97);
}

.footer-content {
    margin: 0 auto;
    max-width: 83.5rem;
    width: 100%;
    padding: 0 1.875rem;
}

@media screen and (max-width: 51.125em) {
    .footer-content {
        padding: 0 0.875rem;
    }
}

@media screen and (max-width: 51.125em) {
    .footer-block, .footer-block ~ .footer-block  {
        width: 100%;
    }
}

.footer-group {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 3rem;
    width: 16.6666%;
    padding-right: 2.5rem;
}


@media screen and (max-width: 68.75em) {
    .footer-group {
        width: 25%;
    }
}


@media screen and (max-width: 51.125em) {
    .footer-group {
        width: 33.333%;
    }
}

@media screen and (max-width: 40em) {
    .footer-group {
        width: 50%;
    }
}

/* 370w */
@media screen and (max-width: 23.125em) {
    .footer-group {
        width: 100%;
    }
}

.footer-group > a {
    display: block;
    margin-bottom: 3em;
}

.footer-logo {
    width: 8rem;
}

@media screen and (max-width: 30em) {
    .footer-logo {
        margin-bottom: 0;
    }
}

.footer-group h1 {
    font-size: 1rem;
    font-weight: 700;
}