@charset "utf-8";
/* CSS Document */

@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		url('https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxO.eot?#iefix') format('embedded-opentype'),
		url('https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2'),
		url('https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxM.woff') format('woff'),
		url('https://fonts.gstatic.com/l/font?kit=KFOmCnqEu92Fr1Mu4mxN&skey=a0a0114a1dcab3ac&v=v18#Roboto') format('svg'),
		url('https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf') format('truetype');
}
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Light'),
		local('Roboto-Light'),
		url('https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc8.eot?#iefix') format('embedded-opentype'),
		url('https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2') format('woff2'),
		url('https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc-.woff') format('woff'),
		url('https://fonts.gstatic.com/l/font?kit=KFOlCnqEu92Fr1MmSU5fBBc_&skey=11ce8ad5f54705ca&v=v18#Roboto') format('svg'),
		url('https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf') format('truetype');
}

body {
	background:#082c4c url(../images/lp-hex-bg.png) repeat;
	background-size:25%;
	margin:0px;
	font-family: Arial, Geneva, Ubuntu, sans-serif;
}
.content.searchwrap {
	padding:20px 5px;
}
.search {
	text-align:center;
	box-sizing:border-box;
	box-shadow:0 5px 2px rgba(0, 0, 0, .16)
}
.search select {
	height:2.56em;
	width:100px;
	padding:0 10px;
	border:1px solid #cccccc;
	border-radius:0;
	cursor:pointer;
	background-color:#dedede;
}
.search button {
	height:2.56em;
	width:56px;
	border:1px solid #cccccc;
	border-radius:0;
	cursor:pointer;
	background-color:#dedede;
}
.search button:hover {
	background-color:#eeeeee;
}
.search input {
	line-height:2em;
	height:2.56em;
	width:calc(100% - 156px);
	padding:0 10px;
	border:1px solid #cccccc;
	border-radius:0;
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
}
@media(min-width:620px) {
	.search select {
		width:100px;
	}
	.search button {
		width:100px;
	}
	.search input {
		width:400px;
	}
}
@media(min-width:930px) {
	.search select {
		width:150px;
	}
	.search button {
		width:150px;
	}
	.search input {
		width:601px;
	}
}
@media(min-width:1225px) {
	body.column-4 .search select {
		width:150px;
	}
	body.column-4 .search button {
		width:150px;
	}
	body.column-4 .search input {
		width:895px;
	}
}
.global-nav {
	display:none;
}
div.top {
	margin-top:-4px;
	padding-top:10px;
	z-index:2;
	background:linear-gradient(to bottom, rgba(0,22,44,0.7) 0%, rgba(0,22,44,0) 100%);
}
#logo img {
	width:90%;
	max-width:509px;
	margin:0px 5% 5px;
	filter:drop-shadow(0px 5px 2px rgba(0, 0, 0, .16));
}
h1,
h2,
h3 {
	font-family:'Roboto', Arial, sans-serif;
	text-shadow:0px 5px 2px rgba(0, 0, 0, .16);
	color:#ffffff;
	text-align:center;
	width:90%;
	margin:0 5% 10px;
}
h2 {
	margin-top:15px;
}
h1,
h2 {
	font-weight:400;
	font-size:110%;
}
h3 {
	font-weight:400;
	font-size:90%;
}
h4 {
	font-weight:700;
	font-size:1.17em;
	margin-block-start:1em;
	margin-block-end:1em;
}
.top h1 {
	font-size:45%;
	margin-top:3px;
	margin-bottom:2px;
	font-weight:400;
}
.top h2 {
	display:none;
	font-weight:400;
}
div.whitebox {
	background-color:#ffffff;
	border-top:5px solid #8eaec2;
	border-bottom:5px solid #8eaec2;
	border-left:0px;
	border-right:0px;
	width:100%;
	margin:0px;
	z-index:2;
	-webkit-box-shadow:2px 5px 0px rgba(0, 0, 0, .16);
	box-shadow:0px 5px 2px rgba(0, 0, 0, .16);
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:5px;
}
a:link {
	color:#002bb8; text-decoration:none;
}
a:visited {
	color:#5a3696; text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a:active {
	color:#faa700;
}
.game-box a:link {
	text-decoration:none;
	color:#000000;
}
.game-box a:visited {
	text-decoration:none;
	color:#000000;
}
.game-box a:active {
	text-decoration:underline;
}
.game-box a:hover {
	text-decoration:underline;
}
.wiki-header {
	font-size:25px
}
/* This describes the boxes */
.game-box {
	width:100%;
	font-size:25px;
	font-family:'Roboto', Arial, Geneva, Ubuntu, sans-serif;
	font-weight:400;
	margin:0 auto 5px auto;
	padding-bottom:1px;
	padding-top:1px;
	font-size:15px;
	overflow:hidden;
	position:relative;
}
.game-box > p {
	font-size:12px;
	display:none;
	margin-left:5%;
	line-height: 2.5em;
	margin-right:5%;
	margin-top:0.5em;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.box-wrap {
	width:100%;
}
.content {
	margin:0 5%;
	font-size:90%;
}
.footer {
	min-height:100px;
	background-color:#8eaec2;
	padding-top:10px;
}
.disclaimer {
	font-size:12px;
	width:100%;
}
.icon-list{
	width:100%;
	float:right;
}
span#full-intro {
	display:none;
}
.toggle-button {
	display:none !important;
}
.wiki-header {
	width:calc(100% - 30px);
}
.toggle-button-label:after {
	float:right;
	width:30px;
	font-size:25px;
	font-weight:400;
	line-height:1.1em;
}
.toggle-button:not(:checked) ~ .game-box-content {
	display:none;
}
.toggle-button:checked ~ .game-box-content {
	display:block;
}
.toggle-button:not(:checked) + .toggle-button-label:after {
	content:"+";
}
.toggle-button:checked + .toggle-button-label:after {
	content:"\2212";
}
.wiki-header {
	margin-left:5%;
	text-align:left;
}
ul {
	padding-left:15px;
}
li {
	margin-bottom:5px;
}
p {
	margin-top:0px;
	margin-bottom:1em;
}
input[type=checkbox] {
	display:none;
}

@media only screen and (min-width:450px) {
	.icon-list {
		width:225px;
		margin:0 auto;
	}
}
@media only screen and (min-width:280px) {
	.top h1 {
		font-size:80%;
		margin-bottom:4px;
	}
	.game-box p {
		font-size:12px;
	}
}
@media only screen and (min-width:310px) {
	.top h1 {
		font-size:90%;
		margin-bottom:6px;
	}
	.top h2 {
		font-size:70%;
		width:90%;
		display:block;
	}
	.wiki-header {
		font-size:30px;
		font-weight:300;
	}
	h1,
	h2 {
		font-size:180%;
		font-weight:300;
	}
	h3 {
		font-size:110%;
	}
	body {
		background-size:auto;
	}
	.toggle-button-label:after {
		font-size:30px;
		font-weight:300;
	}
	.game-box p {
		font-size:13px;
	}
}
@media only screen and (min-width:400px) {
	.top h1 {
		font-size:110%;
		margin-bottom:8px;
	}
	.top h2 {
		font-size:80%;
		width:94%;
		margin:0 3% 12px;
		display:block;
	}
	div.whitebox {
		padding-top:10px;
		padding-bottom:5px;
	}
	h1,
	h2 {
		font-size:200%;
	}
	h3 {
		font-size:125%;
	}
	.game-box > p {
		font-size:14px;
	}
}
@media only screen and (min-width:480px) {
	.top h1 {
		font-size:130%;
		margin-bottom:10px;
		font-weight:300;
	}
	.top h2 {
		font-size:100%;
		width:96%;
		margin:0 2% 14px;
		display:block;
	}
	.wiki-header {
		font-size:40px;
	}
	div.whitebox {
		padding-top:15px;
		padding-bottom:10px;
	}
	.toggle-button-label:after {
		font-size:40px;
	}
	.game-box > p {
		font-size:15px;
	}
}
@media only screen and (min-width:560px) {
	#logo img {
		margin-left:auto;
		margin-right:auto;
		display:block;
	}
	.top h1 {
		font-size:150%;
	}
	.top h2 {
		font-size:110%;
	}
	h1,
	h2 {
		font-size:224%;
	}
	h3 {
		font-size:140%;
	}
}
@media only screen and (min-width:620px) {
	div.top {
		margin-top:0px;
	}
	.box-wrap {
		width:600px;
		margin:0 auto;
	}
	.game-box {
		width:297px;
		height:183px;
		display:inline-block;
		vertical-align:top;
	}
	.game-box > p {
		display:block;
		font-size:12px;
		line-height:1.8em;
		text-align:left;
		margin-top:15px;
		margin-bottom:22px;
		margin-left:22px;
		margin-right:22px;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}
	.wiki-header {
		font-size:30px;
		margin-top:10px;
		text-align:center;
		margin-right:5%;
	}
	.wiki-header a {
		display:inline;
	}
	.content {
		max-width:604px;
		padding:0 5px;
		margin:0 auto;
	}
	.disclaimer {
		float:left;
		width:50%;
		padding:0 0 0 0px;
	}
	.top h1 {
		font-size:170%;
		margin-top:18px;
	}
	.top h2 {
		font-size:125%;
		max-width:620px;
		margin-left:auto;
		margin-right:auto;
	}
	.toggle-button:not(:checked) ~ .game-box-content {
		display:block;
	}
	.toggle-button-label:after {
		display:none;
	}
	.how-to {
		-moz-column-count:2;
		column-count:2;
		-moz-column-gap:3em;
		column-gap:3em;
		-moz-column-rule:1px solid #dddddd;
		column-rule:1px solid #dddddd;
	}
}
@media only screen and (min-width:650px) {
	.top h1 {
		font-size:180%;
		font-style:normal;
	}
	.global-nav {
		display:inline-block;
		height:24px;
		width:100%;
		background:#00162c;
		margin:0px 0px 0px 0px;
		position:absolute;
		top:0px;
		left:0px;
		text-align:right;
	}
	.global-nav a:link,
	.global-nav a:hover,
	.global-nav a:active,
	.global-nav a:visited {
		color:#ffffff;
		text-decoration:none;
		font-size:12px;
		font-family:Verdana, Geneva, Ubuntu, sans-serif;
		font-weight:bold;
		margin-right:20px;
	}
	.global-nav span {
		float:right;
		padding-right:20px;
		line-height:18px;
	}
}
@media only screen and (min-width:700px) {
	.top h1 {
		font-size:190%;
	}
}
@media only screen and (min-width:930px) {
	.box-wrap {
		width:903px;
		margin:0 auto;
	}
	.content {
		width:901px;
		max-width:901px;
	}
	.top h1 {
		font-size:220%;
		width:901px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	.top h2 {
		font-size:140%;
		max-width:930px;
	}
	.how-to {
		-moz-column-count:3;
		column-count:3;
		-moz-column-gap:3em;
		column-gap:3em;
		-moz-column-rule:1px solid #dddddd;
		column-rule:1px solid #dddddd;
	}
	.how-to .double {
		-moz-column-span:2;
		-webkit-column-span:2;
		column-span:2;
	}
}
@media only screen and (min-width:1225px) {
	body.column-4 .box-wrap {
		width:1206px;
		margin:0 auto;
	}
	body.column-4 .content {
		width:1195px;
		max-width:1195px;
	}
	body.column-4 .how-to {
		-moz-column-count:2;
		column-count:2;
		-moz-column-gap:3em;
		column-gap:3em;
		-moz-column-rule:1px solid #dddddd;
		column-rule:1px solid #dddddd;
	}
}
.toggle-button-label::after {
	cursor:pointer;
}

@media(min-width:930px) {
	.flatlist {
		padding:0;
		display:flex;
		justify-content:space-around;
		list-style-type:none;
	}
}

/* footer icons */
.lp-icon {
	display:inline-block;
	width:32px;
	height:32px;
	overflow:hidden;
	background-size:32px 64px;
	vertical-align:middle;
	background-position:0 -32px;
}
.lp-icon:hover {
	background-position:0 0;
}
.lp-icon.lp-discord {
	background-image:url(../images/InfoboxIcon_Discord.png);
}
.lp-icon.lp-facebook {
	background-image:url(../images/InfoboxIcon_Facebook.png);
}
.lp-icon.lp-github {
	background-image:url(../images/InfoboxIcon_GitHub.png);
}
.lp-icon.lp-twitch {
	background-image:url(../images/InfoboxIcon_Twitch.png);
}
.lp-icon.lp-twitter {
	background-image:url(../images/InfoboxIcon_Twitter.png);
}
.lp-icon.lp-youtube {
	background-image:url(../images/InfoboxIcon_YouTube.png);
}

.btn-wrap {
	text-align:center;
}
.btn {
	color:#f5f5f5 !important;
	background-color:#0081ff;
	border-radius:0;
	border:1px solid #0061ff;
	padding:10px 50px;
	display:inline-block;
}
.btn:hover {
	background-color:#0061ff;
	text-decoration:none;
}

.banner {
	display:block;
	padding:15px;
	border-left:5px solid #0000ff;
	color:#000000;
	background-color:#ccccff;
	margin-bottom:15px;
}

.badge-new {
	height:100%;
	background-color:#008000;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	writing-mode:vertical-rl;
	transform:rotate(180deg);
	position:absolute;
	top:0;
	left:0;
	font-size:12px;
}
@media only screen and (min-width:310px) {
	.badge-new {
		font-size:unset;
	}
}
@media only screen and (min-width:620px) {
	.badge-new {
		width:100px;
		height:20px;
		margin-bottom:-22px;
		padding-top:2px;
		writing-mode:initial;
		transform:rotate(-45deg);
		position:relative;
		top:14px;
		left:-23px;
	}
}
