@charset "utf-8";
/* CSS Document */

body { 
	background:url('lp-hex-bg.png') repeat;
	background-size:25%;
	
	margin:0px;
	font-family: Verdana, Geneva, Ubuntu, sans-serif;
}

.global-nav {display:none;}

div.top {
	margin-top:-4px;
	z-index:2;
	background: -moz-linear-gradient(top,  rgba(0,22,44,0.7) 0%, rgba(0,22,44,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,22,44,0.7)), color-stop(100%,rgba(0,22,44,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,22,44,0.7) 0%,rgba(0,22,44,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,22,44,0.7) 0%,rgba(0,22,44,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,22,44,0.7) 0%,rgba(0,22,44,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,22,44,0.7) 0%,rgba(0,22,44,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b300162c', endColorstr='#0000162c',GradientType=0 ); /* IE6-9 */
	
}

#logo img {
	width: 90%;
	max-width: 506px;
	margin: 0px 5% 5px;
	-webkit-filter: drop-shadow(0px 5px 2px #000);
	filter: url(shadow.svg#drop-shadow);
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=5, Color='#000')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=5, Color='#000')";
}
	
h1, h2 {
	font-family: Roboto, Verdana, Arial, sans-serif;
	text-shadow: 0px 5px 2px #000;
	color: #FFF;
	text-align: center;
	width: 90%;
	margin:0 5% 10px; 
}

h1 {
	font-weight:400;
	font-size:110%;
}

h2 {
	font-weight:400;
	font-size:90%;
}

.top h1 {
	font-size: 45%;
	margin-top: 3px;
	margin-bottom: 2px;
	font-weight: 400;
}
.top h2 {display:none;}


div.whitebox {
/*	background: #daeffc repeat; */
	background: #FFF repeat;
	border-top: 5px #8eaec2 solid;
	border-bottom: 5px #8eaec2 solid;
	border-left: 0px;
	border-right: 0px;
	width: 100%;
	margin: 0px;
	z-index: 2;
	-webkit-box-shadow: 2px 5px 0px #000;
	box-shadow: 0px 5px 2px #000;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 5px;
}

a:link				{color:#002bb8; text-decoration:none;}
a:visited			{color:#5a3696; text-decoration:none;}
a:hover				{text-decoration:underline}
a:active 			{color:#faa700;}

.game-box a:link 		{text-decoration:none; color:#000;}
.game-box a:visited 		{text-decoration:none; color:#000;}
.game-box a:active 		{text-decoration:underline;}
.game-box a:hover 		{text-decoration:underline;}

.wiki-header {
	font-size:25px
}

/* Not going to be using this most likely .wiki-header a {display:block;} */

/* This describes the boxes */
.sc2-box {
	background-color: #b6cfe5;
}
.dota-box {
	background-color: #e5ccb6;
}
.hs-box {
	background-color: #e5d8b6;
}
.bw-box {
	background-color: #dbe1e5;
}
.hots-box {
	background-color: #b9b6e5;
}
.ssb-box {
	background-color: #b6e5c7;
}
.cs-box {
	background-color: #cde5b6;
}
.ow-box {
	background-color: #e5b6c0;
}
.commons-box {
	background-color: #e5e5e5;
}
.game-box {
	width: 100%;
	font-size: 25px;
	font-family: Roboto, Verdana, Geneva, Ubuntu, sans-serif;
	font-weight: 400;
	margin: 0 auto 5px auto;
}


.game-box > p {
	font-size: 12px;
	display: none;
	margin-left: 5%;
	line-height: 1.6em;
	margin-right: 5%;
	margin-top:0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.box-wrap {
	width:100%;
}


.content {
	margin: 0 5%;
	font-size: 80%;
	
}


.footer { 
	min-height: 100px;
	background-color: #8eaec2;
	padding-top:10px;

}

.disclaimer {
	font-size:12px;
	width:100%;
}

.icon-list{
	width: 100%;
}

.icon-list img {
	width: 16%;
	max-width: 40px;
	height:auto;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 12%;
	margin-top: 0;
}

img.twitch {margin-right:0;}

span#full-intro {display:none;}

.toggle-button {
	display:none !important;
}
.wiki-header {
	width: calc(100% - 37px);
}
.toggle-button-label:after {
	float:right;
	width: 30px;
}
#toggle-sc2:not(:checked) + label + div + #sc2, 
#toggle-dota:not(:checked) + label + div + #dota, 
#toggle-hs:not(:checked) + label + div + #hs, 
#toggle-bw:not(:checked) + label + div + #bw, 
#toggle-hots:not(:checked) + label + div + #hots, 
#toggle-ssb:not(:checked) + label + div + #ssb, 
#toggle-cs:not(:checked) + label + div + #cs, 
#toggle-ow:not(:checked) + label + div + #ow,
#toggle-commons:not(:checked) + label + div + #commons {
	display:none;
}
#toggle-sc2:checked + label + div + #sc2, 
#toggle-dota:checked + label + div + #dota, 
#toggle-hs:checked + label + div + #hs, 
#toggle-bw:checked + label + div + #bw, 
#toggle-hots:checked + label + div + #hots, 
#toggle-ssb:checked + label + div + #ssb, 
#toggle-cs:checked + label + div + #cs, 
#toggle-ow:checked + label + div + #ow,
#toggle-commons:checked + label + div + #commons {
	display:block;
}

#toggle-sc2:not(:checked) + #toggle-sc2-label:after, 
#toggle-dota:not(:checked) + #toggle-dota-label:after, 
#toggle-hs:not(:checked) + #toggle-hs-label:after, 
#toggle-bw:not(:checked) + #toggle-bw-label:after, 
#toggle-hots:not(:checked) + #toggle-hots-label:after, 
#toggle-ssb:not(:checked) + #toggle-ssb-label:after, 
#toggle-cs:not(:checked) + #toggle-cs-label:after, 
#toggle-ow:not(:checked) + #toggle-ow-label:after,
#toggle-commons:not(:checked) + #toggle-commons-label:after {
	content:"+";
	font-size:25px;
	font-weight:400;
	line-height:1.1em;
}
#toggle-sc2:checked + #toggle-sc2-label:after, 
#toggle-dota:checked + #toggle-dota-label:after, 
#toggle-hs:checked + #toggle-hs-label:after, 
#toggle-bw:checked + #toggle-bw-label:after, 
#toggle-hots:checked + #toggle-hots-label:after, 
#toggle-ssb:checked + #toggle-ssb-label:after, 
#toggle-cs:checked + #toggle-cs-label:after, 
#toggle-ow:checked + #toggle-ow-label:after,
#toggle-commons:checked + #toggle-commons-label:after {
	content:"\2212";
	font-size:25px;
	font-weight:400;	
	line-height:1.1em;
}
.wiki-header {
	margin-left:5%;
	text-align:left;
}
.game-box {
	padding-bottom: 1px;
}

.game-box {
	font-size:15px;
}
	
ul {
	padding-left: 15px;
}

li { 
	margin-bottom:5px;
}

p { 
	margin-top:0px;
	margin-bottom:1em; 
}

	input[type=checkbox] {
		display:none;
	}
	
@media only screen and (min-width: 280px) {

	.icon-list {
		width:280px;
		margin: 0 auto;
	}
	.top h1 {
		font-size:80%; 
		margin-bottom:4px;
	}
	
	.game-box p {
		font-size:12px;
	}
}
	
@media only screen and (min-width: 310px) {

	.top h1 {
		font-size:90%; 
		margin-bottom:6px;
	}

	.top h2 {
		font-size:70%; 
		width: 90%; 
		display:block;  
	}
	.wiki-header {
		font-size:30px;
		font-weight:300;
	}
	h1 { 
		font-size:180%;
		font-weight:300;
		}
	h2 {
		font-size:110%;
	}
	
	body {
		background-size:auto;
	}
	
	#toggle-sc2:not(:checked) + #toggle-sc2-label:after, 
	#toggle-dota:not(:checked) + #toggle-dota-label:after, 
	#toggle-hs:not(:checked) + #toggle-hs-label:after, 
	#toggle-bw:not(:checked) + #toggle-bw-label:after, 
	#toggle-hots:not(:checked) + #toggle-hots-label:after, 
	#toggle-ssb:not(:checked) + #toggle-ssb-label:after, 
	#toggle-cs:not(:checked) + #toggle-cs-label:after, 
	#toggle-ow:not(:checked) + #toggle-ow-label:after,
	#toggle-commons:not(:checked) + #toggle-commons-label:after {
		font-size:30px;
		font-weight:300;
	}
	#toggle-sc2:checked + #toggle-sc2-label:after, 
	#toggle-dota:checked + #toggle-dota-label:after, 
	#toggle-hs:checked + #toggle-hs-label:after, 
	#toggle-bw:checked + #toggle-bw-label:after, 
	#toggle-hots:checked + #toggle-hots-label:after, 
	#toggle-ssb:checked + #toggle-ssb-label:after, 
	#toggle-cs:checked + #toggle-cs-label:after, 
	#toggle-ow:checked + #toggle-ow-label:after,
	#toggle-commons:checked + #toggle-commons-label:after {
		font-size:30px;
		font-weight:300;
	}
	.game-box p {
		font-size:13px;
	}
}

@media only screen and (min-width:400) {

	.top h1 {
		font-size:110%; 
		margin-bottom:8px;
	}
		
	.top h2 {
		font-size:80%; 
		width: 94%; 
		margin:0 3% 12px; 
		display:block;  
	}
	
	div.whitebox {
		padding-top:10px;
		padding-bottom:5px;
	}
	
	h1 { font-size:200%;}
	h2 { font-size:125%;}
	
	.game-box > p {
		font-size:14px;
	}
}

@media only screen and (min-width: 480px) {
		
	.top h1 {
		font-size:130%; 
		margin-bottom:10px;
		font-weight:300;
	}
	
	.top h2 {
		font-size:100%; 
		width: 96%; 
		margin:0 2% 14px; 
		display:block;  
	}
	.wiki-header {
		font-size:40px;
	}
		
	div.whitebox {
		padding-top:15px;
		padding-bottom:10px;
	}
	
	
	#toggle-sc2:not(:checked) + #toggle-sc2-label:after, 
	#toggle-dota:not(:checked) + #toggle-dota-label:after, 
	#toggle-hs:not(:checked) + #toggle-hs-label:after, 
	#toggle-bw:not(:checked) + #toggle-bw-label:after, 
	#toggle-hots:not(:checked) + #toggle-hots-label:after, 
	#toggle-ssb:not(:checked) + #toggle-ssb-label:after, 
	#toggle-cs:not(:checked) + #toggle-cs-label:after, 
	#toggle-ow:not(:checked) + #toggle-ow-label:after,
	#toggle-commons:not(:checked) + #toggle-commons-label:after {
		font-size:40px;
	}
	#toggle-sc2:checked + #toggle-sc2-label:after, 
	#toggle-dota:checked + #toggle-dota-label:after, 
	#toggle-hs:checked + #toggle-hs-label:after, 
	#toggle-bw:checked + #toggle-bw-label:after, 
	#toggle-hots:checked + #toggle-hots-label:after, 
	#toggle-ssb:checked + #toggle-ssb-label:after, 
	#toggle-cs:checked + #toggle-cs-label:after, 
	#toggle-ow:checked + #toggle-ow-label:after,
	#toggle-commons:checked + #toggle-commons-label:after {
		font-size:40px;
	}
	
	.game-box > p {
		font-size:15px;
	}
}

@media only screen and (min-width:560px) {

	#logo img {
		margin-left:auto;
		margin-right:auto;
		display: block;
	}
	.top h1 {
		font-size:150%; 
	}
	.top h2 {
		font-size:110%; 
	}
	
	h1 { font-size:224%;}
	h2 { font-size:140%;}
}
	
@media only screen and (min-width:620px) {
	div.top {
		margin-top:0px;	
	}
	
	.box-wrap {
		width: 614px;
		height: 809px;
		margin: 0 auto;
	}
	
	.game-box { 
		width: 297px; 
		height:193px;
		float:left;
		margin:5px; 
	} 
	.game-box > p { 
		display:block;
		font-size:12px;
		line-height:1.8em;
		text-align: left;
		margin-top:15px;
		margin-bottom:22px;
		margin-left:22px;
		margin-right:22px;
		white-space:nowrap;
		overflow:hidden;
		text-overflow: ellipsis;
	}
	
	.wiki-header {
		font-size: 36px;
		margin-top: 10px;
		text-align: center;
		margin-right: 5%;
	}
	.wiki-header a {display:inline;} 
	.content{
		max-width:604px;
		padding:0 5px;
		margin:0 auto;
	}
	
	.disclaimer{
		float: left;
		width: 50%;
		padding: 0 0 0 0px;
	}
	
	.icon-list {
		float:right;
		margin:0;
	}
	.footer {
		min-height:60px;
	}
	
	.top h1 {
		font-size: 170%;
		margin-top: 18px;
	}
	.top h2 {
		font-size:125%; 
		max-width: 620px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.global-nav { 
		display:inline-block;
		height:18px;
		width:100%;
		background:#00162c;
		margin:0px 0px 0px 0px;
		position:absolute;
		top:0px;
		left:0px;
		text-align:right;
	}
	
	.global-nav a:link, .global-nav a:hover, .global-nav a:active, .global-nav a:visited {
		color:#fff;
		text-decoration:none;
		font-size:12px;
		font-family: Verdana, Geneva, Ubuntu, sans-serif;
		font-weight:bold;
		margin-right:20px;
	}
		
	div.global-nav span {
		/* color: #818DA0; */
		float: right;
		padding-right: 20px;
		line-height: 18px;
	}
	
	#toggle-sc2:not(:checked) + label + div + #sc2, 
	#toggle-dota:not(:checked) + label + div + #dota, 
	#toggle-hs:not(:checked) + label + div + #hs, 
	#toggle-bw:not(:checked) + label + div + #bw, 
	#toggle-hots:not(:checked) + label + div + #hots, 
	#toggle-ssb:not(:checked) + label + div + #ssb, 
	#toggle-cs:not(:checked) + label + div + #cs, 
	#toggle-ow:not(:checked) + label + div + #ow,
	#toggle-commons:not(:checked) + label + div + #commons {
		display:block;
	}
	
	#toggle-sc2:not(:checked) + #toggle-sc2-label:after, 
	#toggle-dota:not(:checked) + #toggle-dota-label:after, 
	#toggle-hs:not(:checked) + #toggle-hs-label:after, 
	#toggle-bw:not(:checked) + #toggle-bw-label:after, 
	#toggle-hots:not(:checked) + #toggle-hots-label:after, 
	#toggle-ssb:not(:checked) + #toggle-ssb-label:after, 
	#toggle-cs:not(:checked) + #toggle-cs-label:after, 
	#toggle-ow:not(:checked) + #toggle-ow-label:after,
	#toggle-commons:not(:checked) + #toggle-commons-label:after {
		display:none;
	}
	
	#toggle-sc2:checked + #toggle-sc2-label:after, 
	#toggle-dota:checked + #toggle-dota-label:after, 
	#toggle-hs:checked + #toggle-hs-label:after, 
	#toggle-bw:checked + #toggle-bw-label:after, 
	#toggle-hots:checked + #toggle-hots-label:after, 
	#toggle-ssb:checked + #toggle-ssb-label:after, 
	#toggle-cs:checked + #toggle-cs-label:after, 
	#toggle-ow:checked + #toggle-ow-label:after,
	#toggle-commons:checked + #toggle-commons-label:after{
		display:none;
	}
	.how-to {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
		-moz-column-gap:10px;
		-webkit-column-gap:10px;
		column-gap:10px;
	}

}

@media only screen and (min-width:650px) {
	.top h1 {
		font-size: 180%;
		font-style: normal;
	}
}

@media only screen and (min-width:700px) {
		.top h1 {font-size:190%;}
}
@media only screen and (min-width:930px) {
	
	.box-wrap {
		width: 921px;
		height: 609px;
		margin: 0 auto;
	}
	.content {
		width:911px;
		max-width:911px;
	
	}
	
	.top h1 {
		font-size: 220%;
		width:911px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	
	.top h2 {
		font-size:140%; 
		max-width: 930px;
	}
	
	.how-to {
		-moz-column-count:3;
		-webkit-column-count:3;
		column-count:3;
		-moz-column-gap:10px;
		-webkit-column-gap:10px;
		column-gap:10px;
	}
	
	.how-to .double {
		-moz-column-span:2;
		-webkit-column-span:2;
		column-span:2;
	}
	
}
