.footer {
    padding: 1.5rem 0;

    @include themed() {
        background-color: t( $clr-surface-3 );
    }

    &__logo {
        width: auto;
        max-height: 2rem;
        margin-bottom: 1rem;
        margin-right: auto;
    }

    &__group {
        display: flex;
        width: 100%;
        margin-bottom: 1rem;
        justify-content: space-between;
        flex-direction: column;

        @include breakpoint( $breakpoint-small ) {
            flex-direction: row;
        }
    }

    &__links {
        display: flex;
        list-style: none;

        @include breakpoint( null, $breakpoint-xsmall ) {
            flex-direction: column;
        }

        li:not(:first-child) {
            @include breakpoint( $breakpoint-xsmall ) {
                margin-left: 0.75rem;
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;
        list-style: none;

        @include breakpoint( null, $breakpoint-xsmall ) {
            margin-top: 1rem;
        }

        li:not(:first-child) {
            margin-left: 0.75rem;
        }

        a {

            @include themed() {
                color: t( $clr-footer-social-icons );
            }

            @include breakpoint( null, $breakpoint-xsmall ) {
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            @media ( hover: hover ) {
                &:hover {
                    @include themed() {
                        color: t( $clr-on-surface );
                    }

                    svg {
                        transform: scale( 1.1 );
                    }
                }
            }

            svg {
                transform: scale( 1 );
                transition: color $transition-fast, transform $transition-fast;
            }
        }
    }

    &__text {
        font-size: $font-size-xsmall;
    }
}
