html {
    font-size: $base-font-size;
    line-height: $line-height-default;
    box-sizing: border-box;
}

body {
    //background: #082c4c url(../images/lp-hex-bg.png) repeat;
    //background-size: 25%;
    margin: 0;
    font-family: 'Roboto', Arial, Geneva, Ubuntu, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include themed() {
        background-color: t( $clr-background );
        color: t( $clr-surface-medium-emphasis );
    }
}

*,
*:before,
*:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: $font-weight-default;
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

svg {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    vertical-align: middle;

    // Remove pointer event from all inline icons on buttons or links
    a &,
    button & {
        pointer-events: none;
    }
}

a {
    text-decoration: none;

    @include themed() {
        color: t( $link-color );
    }

    &:hover {
        text-decoration: none;

        @include themed() {
            color: t( $link-color-hover );
        }
    }
}

.mt-1 {
    margin-top: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75rem;
    margin: 0 auto;
    align-items: center;
}

.logo {
    &--color-bg {
        @include themed() {
            color: t( $clr-logo-1 );
        }
    }

    &--color-icon {
        @include themed() {
            color: t( $clr-logo-2 );
        }
    }
}

.toggle-button {
    display:none !important;
}
.toggle-button-label:after {
    float:right;
    width:30px;
    font-size:25px;
    font-weight:400;
    line-height:1.1em;
}
.toggle-button:not(:checked) ~ .game-box-content {
    display:none;
}
.toggle-button:checked ~ .game-box-content {
    display:block;
}
.toggle-button:not(:checked) + .toggle-button-label:after {
    content:"+";
}
.toggle-button:checked + .toggle-button-label:after {
    content:"\2212";
}
input[type=checkbox] {
    display:none;
}

@media only screen and (min-width:480px) {
    .toggle-button-label:after {
        font-size:40px;
    }
}
@media only screen and (min-width:620px) {
    .toggle-button:not(:checked) ~ .game-box-content {
        display:block;
    }
    .toggle-button-label:after {
        display:none;
    }
}

.toggle-button-label::after {
    cursor:pointer;
}
