html {
    font-size: $base-font-size;
    line-height: $line-height-default;
    box-sizing: border-box;
}

body {
    //background: #082c4c url(../images/lp-hex-bg.png) repeat;
    //background-size: 25%;
    margin: 0;
    font-family: 'Roboto', Arial, Geneva, Ubuntu, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include themed() {
        background-color: t( $body-bg-color );
        color: t( $text-color );
    }
}

*,
*:before,
*:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: $font-weight-default;
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

svg {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    vertical-align: middle;

    // Remove pointer event from all inline icons on buttons or links
    a &,
    button & {
        pointer-events: none;
    }
}

a {
    @include themed() {
        color: t( $link-color );
    }

    &:hover {
        text-decoration: none;
    }
}

.fd-column {
    flex-direction: column;
}

.mt-1 {
    margin-top: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75rem;
    margin: 0 auto;
    align-items: center;
}

.toggle-button {
    display:none !important;
}
.toggle-button-label:after {
    float:right;
    width:30px;
    font-size:25px;
    font-weight:400;
    line-height:1.1em;
}
.toggle-button:not(:checked) ~ .game-box-content {
    display:none;
}
.toggle-button:checked ~ .game-box-content {
    display:block;
}
.toggle-button:not(:checked) + .toggle-button-label:after {
    content:"+";
}
.toggle-button:checked + .toggle-button-label:after {
    content:"\2212";
}
input[type=checkbox] {
    display:none;
}

@media only screen and (min-width:480px) {
    .toggle-button-label:after {
        font-size:40px;
    }
}
@media only screen and (min-width:620px) {
    .toggle-button:not(:checked) ~ .game-box-content {
        display:block;
    }
    .toggle-button-label:after {
        display:none;
    }
}

.toggle-button-label::after {
    cursor:pointer;
}

.btn {
    color:#f5f5f5 !important;
    background-color:#0081ff;
    border-radius:0;
    border:1px solid #0061ff;
    padding:10px 50px;
    display:inline-block;
}
.btn:hover {
    background-color:#0061ff;
    text-decoration:none;
}

.badge-new {
    height:100%;
    background-color:#008000;
    color:#ffffff;
    text-align:center;
    font-weight:bold;
    writing-mode:vertical-rl;
    transform:rotate(180deg);
    position:absolute;
    top:0;
    left:0;
    font-size:12px;
}
@media only screen and (min-width:310px) {
    .badge-new {
        font-size:unset;
    }
}
@media only screen and (min-width:620px) {
    .badge-new {
        width:100px;
        height:20px;
        margin-bottom:-22px;
        padding-top:2px;
        writing-mode:initial;
        transform:rotate(-45deg);
        position:relative;
        top:14px;
        left:-23px;
    }
}
