.section {
    padding: 0 0 1rem 0;

    @include breakpoint($breakpoint-small) {
        padding: 0 0 2.5rem 0;
    }

    &__intro {
        text-align: center;
        max-width: 50rem;
        margin-top: 2rem;
    }
}
