/** Primary **/
$clr-primary--light: #0D61A4;
$clr-on-primary--light: #ffffff;
$clr-primary-container--light: #D1E4FF;
$clr-on-primary-container--light: #001C38;

$clr-primary--dark: #9FC9FF;
$clr-on-primary--dark: #00325B;
$clr-primary-container--dark: #004880;
$clr-on-primary-container--dark: #D1E4FF;

/** Secondary **/
$clr-secondary--light: #545F70;
$clr-on-secondary--light: #ffffff;
$clr-secondary-container--light: #D7E3F8;
$clr-on-secondary-container--light: #101C2B;

$clr-secondary--dark: #BBC7DB;
$clr-on-secondary--dark: #253141;
$clr-secondary-container--dark: #3C4858;
$clr-on-secondary-container--dark: #D7E3F8;

/** Tertiary **/
$clr-tertiary--light: #6C5778;
$clr-on-tertiary--light: #ffffff;
$clr-tertiary-container--light: #F4D9FF;
$clr-on-tertiary-container--light: #251431;

$clr-tertiary--dark: #D7BDE4;
$clr-on-tertiary--dark: #3C2948;
$clr-tertiary-container--dark: #533F5F;
$clr-on-tertiary-container--dark: #F4D9FF;

/** Error **/
$clr-error--light: #BA1B1B;
$clr-on-error--light: #ffffff;
$clr-error-container--light: #FFDAD4;
$clr-on-error-container--light: #410001;

$clr-error--dark: #FFB4A9;
$clr-on-error--dark: #680003;
$clr-error-container--dark: #930006;
$clr-on-error-container--dark: #FFDAD4;

/** Background/Surface **/
$clr-background--light: #FDFCFF;
$clr-on-background--light: #1B1B1B;
$clr-surface--light: #FDFCFF;
$clr-on-surface--light: #1B1B1B;

$clr-background--dark: #1B1B1B;
$clr-on-background--dark: #E2E2E6;
$clr-surface--dark: #1B1B1B;
$clr-on-surface--dark: #E2E2E6;

/** Surface variant **/
$clr-surface-variant--light: #DFE2EB;
$clr-on-surface-variant--light: #43474E;
$clr-outline--light: #73777F;

$clr-surface-variant--dark: #43474E;
$clr-on-surface-variant--dark: #C3C7D0;
$clr-outline--dark: #8D9199;

/** Confirmed **/
$clr-confirmed--light: #106D34;
$clr-on-confirmed--light: #ffffff;
$clr-confirmed-container--light: #9FF6AE;
$clr-on-confirmed-container--light: #002109;

$clr-confirmed--dark: #84D994;
$clr-on-confirmed--dark: #003915;
$clr-confirmed-container--dark: #005322;
$clr-on-confirmed-container--dark: #9FF6AE;

/** Surface **/
$clr-surface--light: #FDFCFF;
$clr-surface-1--light: #F1F4FA;
$clr-surface-2--light: #EAF0F8;
$clr-surface-3--light: #E3EBF5;
$clr-surface-4--light: #E0E9F4;
$clr-surface-5--light: #DBE6F2;

$clr-surface--dark: #1B1B1B;
$clr-surface-1--dark: #222426;
$clr-surface-2--dark: #26292D;
$clr-surface-3--dark: #2A2E34;
$clr-surface-4--dark: #2B3036;
$clr-surface-5--dark: #2D333B;

$clr-border--light: rgba(black, 0.08);
$clr-border--dark: rgba(white, 0.08);

/**
 * Shadows elevations
 */
$box-shadow-elevation-1:
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15)
;
$box-shadow-elevation-2:
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3),
    0 0.125rem 0.375rem 0.125rem rgba(0, 0, 0, 0.15)
;
$box-shadow-elevation-3:
    0 0.25rem 0.5rem 0.1875rem rgba(0, 0, 0, 0.15),
    0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3)
;
$box-shadow-elevation-4:
    0 0.375rem 0.625rem 0.25rem rgba(0, 0, 0, 0.15),
    0 0.125rem 0.1875rem rgba(0, 0, 0, 0.3)
;
$box-shadow-elevation-5:
    0 0.5rem 0.75rem 0.375rem rgba(0, 0, 0, 0.15),
    0 0.25rem 0.25rem rgba(0, 0, 0, 0.3)
;
