$black-pearl: #020712;
$ebony-clay: #212936;
$bright-gray: #394150;
$humming-bird: #C5EFF7;
$royal-blue: #2B63E6;
$perano: #A3B1F0;
$wild-blue-yonder: #7E8FB4;
$clr-malibu: #90CAF9;
$clr-cod-gray: #121212;

$clr-primary: $clr-malibu;
$clr-dp-00: $clr-cod-gray;
$clr-dp-01: mix(white, $clr-cod-gray, 5%);
$clr-dp-02: mix(white, $clr-cod-gray, 7%);
$clr-dp-03: mix(white, $clr-cod-gray, 8%);
$clr-dp-04: mix(white, $clr-cod-gray, 9%);
$clr-dp-06: mix(white, $clr-cod-gray, 11%);
$clr-dp-08: mix(white, $clr-cod-gray, 12%);
$clr-dp-12: mix(white, $clr-cod-gray, 14%);
$clr-dp-16: mix(white, $clr-cod-gray, 15%);
$clr-dp-24: mix(white, $clr-cod-gray, 16%);

$clr-high-emphasis: mix(white, $clr-cod-gray, 87%);
$clr-medium-emphasis: mix(white, $clr-cod-gray, 60%);
$clr-disabled: mix(white, $clr-cod-gray, 38%);

$bg--default: #e5e5e5;
$bg--dark: $clr-dp-00;
$text-color--default: #000000;
$text-color--dark: $clr-medium-emphasis;

$link-color--default: #000000;
$link-color--dark: $clr-malibu;
$link-color-hover--default: #000000;
$link-color-hover--dark: mix(white, $clr-malibu, 4%);

$button-text-color--default: #ffffff;
$button-text-color--dark: #000000;
$button-bg-color--default: #0081ff;
$button-bg-color--dark: $clr-malibu;
$button-bg-color-hover--default: mix(white, #0081ff, 4%);
$button-bg-color-hover--dark: mix(white, $clr-malibu, 4%);
$button-bg-color-focus--default: mix(white, #0081ff, 12%);
$button-bg-color-focus--dark: mix(white, $clr-malibu, 12%);
$button-bg-color-active--default: mix(white, #0081ff, 8%);
$button-bg-color-active--dark: mix(white, $clr-malibu, 8%);

$global-nav-bg-color--default: #00162c;
$global-nav-bg-color--dark: $clr-dp-00;
$header-bg-color--default: #082c4c;
$header-bg-color--dark: $clr-dp-02;
$header-border-color--default: #8eaec2;
$header-border-color--dark: $clr-dp-08;
$header-text-color--default: #ffffff;
$header-text-color--dark: $clr-high-emphasis;
$search-bg-color--default: #ffffff;
$search-bg-color--dark: $clr-dp-00;
$search-select-color--default: $link-color--default;
$search-select-color--dark: $link-color--dark;

/**
 * Breakpoints
 */
$breakpoint-xxsmall: 23.75em; // 380px
$breakpoint-xsmall: 40em; // 640px
$breakpoint-small: 60em; // 960px
$breakpoint-medium: 75em; // 1200px
$breakpoint-large: 90em; // 1440px

/**
 * Border-radius
 */
$border-radius-small: 0.25rem;
$border-radius-medium: 0.625rem;

/**
 * Font-size
 */
$base-font-size: 16px;
$font-size-xxsmall: 0.5625rem;
$font-size-xsmall: 0.6875rem;
$font-size-small: 0.8125rem;
$font-size-default: 1rem;
$font-size-medium: 1.125rem;
$font-size-large: 2.25rem;

/**
 * Font-weight
 */
$font-weight-light: 200;
$font-weight-default: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/**
 * Letter-spacing
 */
$letter-spacing-small: 0.03125rem;

/**
 * Line-height
 */
$line-height-small: 1.2;
$line-height-medium: 1.5;
$line-height-default: 1.7;

/**
 * Transitions
 */
$transition-fast: 0.4s ease;
