$clr-primary: 'clr-primary';
$clr-primary-high-emphasis: 'clr-primary-high-emphasis';
$clr-primary-medium-emphasis: 'clr-primary-medium-emphasis';
$clr-primary-disabled: 'clr-primary-disabled';
$clr-secondary: 'clr-secondary';
$clr-background: 'clr-background';
$clr-surface: 'clr-surface';
$clr-surface-high-emphasis: 'clr-surface-high-emphasis';
$clr-surface-medium-emphasis: 'clr-surface-medium-emphasis';
$clr-surface-disabled: 'clr-surface-disabled';
$clr-error: 'clr-error';
$clr-on-primary: 'clr-on-primary';
$clr-on-secondary: 'clr-on-secondary';
$clr-on-background: 'clr-on-background';
$clr-on-surface: 'clr-on-surface';
$clr-on-error: 'clr-on-error';
$clr-done: 'clr-done';
$clr-dp-00: 'clr-dp-00';
$clr-dp-01: 'clr-dp-01';
$clr-dp-02: 'clr-dp-02';
$clr-dp-03: 'clr-dp-03';
$clr-dp-04: 'clr-dp-04';
$clr-dp-06: 'clr-dp-06';
$clr-dp-08: 'clr-dp-08';
$clr-dp-12: 'clr-dp-12';
$clr-dp-16: 'clr-dp-16';
$clr-dp-24: 'clr-dp-24';
$link-color: 'link-color';
$link-color-hover: 'link-color-hover';
$button-bg-color-hover: 'button-bg-color-hover';
$button-bg-color-focus: 'button-bg-color-focus';
$button-bg-color-active: 'button-bg-color-active';
$clr-logo-1: 'clr-logo-1';
$clr-logo-2: 'clr-logo-2';

$themes: (
    light: (
        clr-primary: $clr-primary--light,
        clr-primary-high-emphasis: $clr-primary-high-emphasis--light,
        clr-primary-medium-emphasis: $clr-primary-medium-emphasis--light,
        clr-primary-disabled: $clr-primary-disabled--light,
        clr-secondary: $clr-secondary--light,
        clr-background: $clr-background--light,
        clr-surface: $clr-surface--light,
        clr-surface-high-emphasis: $clr-surface-high-emphasis--light,
        clr-surface-medium-emphasis: $clr-surface-medium-emphasis--light,
        clr-surface-disabled: $clr-surface-disabled--light,
        clr-error: $clr-error--light,
        clr-on-primary: $clr-on-primary--light,
        clr-on-secondary: $clr-on-secondary--light,
        clr-on-background: $clr-on-background--light,
        clr-on-surface: $clr-on-surface--light,
        clr-on-error: $clr-on-error--light,
        clr-dp-00: $clr-dp-00--light,
        clr-dp-01: $clr-dp-01--light,
        clr-dp-02: $clr-dp-02--light,
        clr-dp-03: $clr-dp-03--light,
        clr-dp-04: $clr-dp-04--light,
        clr-dp-06: $clr-dp-06--light,
        clr-dp-08: $clr-dp-08--light,
        clr-dp-12: $clr-dp-12--light,
        clr-dp-16: $clr-dp-16--light,
        clr-dp-24: $clr-dp-24--light,

        link-color: $link-color--light,
        link-color-hover: $link-color-hover--light,
        button-bg-color-hover: $button-bg-color-hover--light,
        button-bg-color-focus: $button-bg-color-focus--light,
        button-bg-color-active: $button-bg-color-active--light,
        clr-logo-1: $clr-logo-1--light,
        clr-logo-2: $clr-logo-2--light,
    ),
    dark: (
        clr-primary: $clr-primary--dark,
        clr-primary-high-emphasis: $clr-primary-high-emphasis--dark,
        clr-primary-medium-emphasis: $clr-primary-medium-emphasis--dark,
        clr-primary-disabled: $clr-primary-disabled--dark,
        clr-secondary: $clr-secondary--dark,
        clr-background: $clr-background--dark,
        clr-surface: $clr-surface--dark,
        clr-surface-high-emphasis: $clr-surface-high-emphasis--dark,
        clr-surface-medium-emphasis: $clr-surface-medium-emphasis--dark,
        clr-surface-disabled: $clr-surface-disabled--dark,
        clr-error: $clr-error--dark,
        clr-on-primary: $clr-on-primary--dark,
        clr-on-secondary: $clr-on-secondary--dark,
        clr-on-background: $clr-on-background--dark,
        clr-on-surface: $clr-on-surface--dark,
        clr-on-error: $clr-on-error--dark,
        clr-dp-00: $clr-dp-00--dark,
        clr-dp-01: $clr-dp-01--dark,
        clr-dp-02: $clr-dp-02--dark,
        clr-dp-03: $clr-dp-03--dark,
        clr-dp-04: $clr-dp-04--dark,
        clr-dp-06: $clr-dp-06--dark,
        clr-dp-08: $clr-dp-08--dark,
        clr-dp-12: $clr-dp-12--dark,
        clr-dp-16: $clr-dp-16--dark,
        clr-dp-24: $clr-dp-24--dark,

        link-color: $link-color--dark,
        link-color-hover: $link-color-hover--dark,
        button-bg-color-hover: $button-bg-color-hover--dark,
        button-bg-color-focus: $button-bg-color-focus--dark,
        button-bg-color-active: $button-bg-color-active--dark,
        clr-logo-1: $clr-logo-1--dark,
        clr-logo-2: $clr-logo-2--dark,
    )
);
