.header {
    padding: 0.625rem 0;
    border-top: 0.3125rem solid;
    border-bottom: 0.3125rem solid;

    @include themed() {
        color: t( $header-text-color );
        background-color: t( $header-bg-color );
        border-color: t( $header-border-color );
    }

    &--top {
        height: 16.25rem;
        border-top: 0;
        padding: 2.5rem 0;
    }

    &__logo {
        max-width: 15rem;
        height: auto;
        margin: 0 auto 1rem auto;
    }

    &__display,
    &__title,
    &__subtitle {
        text-align: center;
    }
}
