.header {
    padding: 0.625rem 0;
    border-top: 0.3125rem solid;
    border-bottom: 0.3125rem solid;

    @include themed() {
        color: t( $clr-surface-high-emphasis );
        background-color: t( $clr-dp-02 );
        border-color: t( $clr-dp-08 );
    }

    &--top {
        border-top: 0;
        padding: 2.5rem 0;
    }

    &__logo {
        max-width: 15.625rem;
        margin-bottom: 1rem;
    }

    &__display,
    &__title,
    &__subtitle {
        text-align: center;
    }
}
