.search {
    width: 100%;

    @include breakpoint(null, $breakpoint-xsmall) {
        margin-top: 1rem;
    }

    @include breakpoint($breakpoint-xsmall) {
        margin-top: 1.5rem;
    }

    &__form {
        border-radius: $border-radius-medium;
        height: 3rem;
        display: flex;
        align-items: center;

        @include themed() {
            background-color: t( $clr-surface );
        }

        @include breakpoint(null, $breakpoint-xsmall) {
            flex-direction: column;
            height: auto;
            align-items: stretch;
            padding: 1rem;
        }

        ::placeholder {
            opacity: 1; /* Firefox */

            @include themed() {
                color: t( $clr-surface-high-emphasis );
            }
        }

        :-ms-input-placeholder,
        ::-ms-input-placeholder {
            @include themed() {
                color: t( $clr-surface-high-emphasis );
            }
        }

        &-select {
            width: 10rem;
            background-color: transparent;
            border: 0;
            height: 100%;
            padding: 0 1rem;
            font-weight: $font-weight-bold;
            font-family: inherit;
            font-size: $font-size-small;

            @include themed() {
                color: t( $clr-primary );
            }

            @include breakpoint(null, $breakpoint-xsmall) {
                width: auto;
                height: 2.5rem;
                margin-bottom: 0.25rem;
            }

            &:hover {}

            &:focus {
                outline: 0;

                @include themed() {
                    box-shadow: inset 0 -0.125rem 0 0 t( $clr-primary );
                }
            }
            &:active {}

            option {
                @include themed() {
                    background-color: t( $clr-surface );
                }
            }
        }

        &-input {
            flex-grow: 1;
            background-color: transparent;
            border: 0;
            height: 100%;
            padding: 0 1rem;
            font-family: inherit;
            font-size: $font-size-small;

            @include themed() {
                color: t( $clr-primary );
            }

            @include breakpoint(null, $breakpoint-xsmall) {
                height: 2.5rem;
                margin-bottom: 0.25rem;
            }

            &:focus {
                outline: 0;

                @include themed() {
                    box-shadow: inset 0 -0.125rem 0 0 t( $clr-primary );
                }
            }
        }

        &-button {
            height: 2.5rem;
            border-radius: $border-radius-default;
            border: 0;
            margin-right: 0.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1rem;

            .icon {
                width: 1rem;
                height: 1rem;
                display: block;
                margin-left: 0.75rem;
            }
        }
    }
}
