.top-nav {
    height: 1.875rem;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: $font-size-xsmall;
    font-weight: $font-weight-bold;

    @include themed() {
        background-color: t( $clr-surface );
    }

    @include breakpoint(null, $breakpoint-xsmall) {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        height: 2.5rem;
        border-radius: $border-radius-default;
    }

    &__switch {
        background-color: transparent;
        position: relative;
        border: 0;
        display: flex;
        align-items: center;
        font-size: $font-size-xsmall;
        font-weight: $font-weight-bold;
        cursor: pointer;

        @include themed() {
            color: t( $clr-surface-high-emphasis );
        }

        @include breakpoint(null, $breakpoint-xsmall) {
            height: 100%;
            padding: 0 0.5rem;
        }

        &::before,
        &::after {
            content: '';
            display: block;
        }

        &::before {
            $_height: 1.125rem;
            width: 2rem;
            height: $_height;
            border-radius: $_height;
            margin-right: 0.5rem;

            @include themed() {
                background-color: t( $clr-primary );
            }
        }

        &::after {
            $_height: 0.875rem;
            width: 0.875rem;
            height: $_height;
            position: absolute;
            left: 0.5rem;
            border-radius: $_height;
            transition: left $transition-fast;

            @include themed() {
                background-color: t( $clr-primary-high-emphasis );
            }
        }

        &-text {
            margin-left: 0.25rem;
        }

        .theme--light & {
            .top-nav__switch-light {
                display: block;
            }
            .top-nav__switch-dark {
                display: none;
            }
        }

        .theme--dark & {
            &::after {
                left: 1.375rem;
            }

            .top-nav__switch-light {
                display: none;
            }
            .top-nav__switch-dark {
                display: block;
            }
        }
    }

    &__list {
        margin-left: auto;
        display: flex;
        height: 100%;

        li {
            list-style: none;
            display: flex;
            align-items: center;

            @include breakpoint(null, $breakpoint-xsmall) {
                padding: 0;
            }

            @include breakpoint($breakpoint-xsmall) {
                padding: 0 1.25rem;
            }

            &:not(:first-child) {
                @include breakpoint(null, $breakpoint-xsmall) {
                    display: none;
                }
            }

            a {
                font-weight: $font-weight-bold;
                text-decoration: none;
            }
        }
    }
}
