@charset "utf-8";
/* CSS Document */

body
{
	background-color:#0a2f52;
	color:white;
	height:100%;
	width:100%;
	font-family:Verdana, Tahoma, Geneva, sans-serif;
	font-size:x-small;
	margin:0;
}
#logo
{
	margin:0 auto 0 auto;
	background-image:url(images/logosmall.png);
	height:136px;
	width:150px;
}
div.splash
{
	font-family:Helvetica, "Arial Black", sans-serif;
	text-align:center;
}

span.wikilink
{
	font-size:x-large;
	font-weight:bold;
	line-height:120%;
}

.contactlink
{
	display:block;
	background-repeat: no-repeat;
	padding-left:20px;
	background-position:bottom left;
	font-family:Verdana, Tahoma, Geneva, sans-serif;
	font-size:11px;
	line-height:1.6em;
	color:	#8eaec2;
}
#CDright {
	width: 186px;
	margin-right: auto;
	margin-left: auto;
	margin-top:0.8em;
}
.hot_links {
	display:none;
}
a { color:white; }
.gradBG { margin:1em; }
#CDright a { color:#8eaec2;}
#twitter {	background-image: url(images/twitter.png);}
#facebook { background-image: url(images/facebook.png); }
#twitch { background-image: url(images/twitch.png); }
